@charset "UTF-8";
body{
	background:url("pexels-steve-29612112.jpg");
      background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;}
.container h1{
	font-size: 50px;
	color: white;
	font-weight: 800;
	text-align: center;
	}
	#bookroom{
	text-align:left;
	font-size: 30px;
	color: white;
	font-weight: 600;
	}
	form{
	padding: 40px;
	border: 20px;
	background-color:white;
	border-radius: 20px;  
	}
	form label{
	font-size: 20px;
	color: black;
	font-weight: 600;
	}
	 h2{
	font-size: 40px;
	font-weight: 800;
	color:white;
	font-family: sans-serif;
	text-align: center;
	}
	.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
#bookinglist{
	font-size: 40px;
	font-weight: 800;
	color:white;
	font-family: sans-serif;
	text-align: center;
}
